flask
flask-socketio
flask-cors
transformers
nltk
requests
pygame
keyboard
python-dotenv
speechrecognition
ollama
langchain
langchain_ollama
openai
tensorflow
tf-keras
elevenlabs
coqui-tts
tqdm
urlextract
gensim
jokeapi
